<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servletjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet02</display-name>
    <servlet-name>Servlet02</servlet-name>
    <servlet-class>com.mycompany.webapp.servlet.Servlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet02</servlet-name>
    <url-pattern>/Servlet02</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <servlet-name>Servlet03</servlet-name>
    <servlet-class>com.mycompany.webapp.servlet.Servlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet03</servlet-name>
    <url-pattern>/Servlet03</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <servlet-name>Servlet04</servlet-name>
    <servlet-class>com.mycompany.webapp.servlet.Servlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet04</servlet-name>
    <url-pattern>/Servlet04</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <description></description>
    <servlet-name>Servlet05</servlet-name>
    <servlet-class>com.mycompany.webapp.servlet.Servlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet05</servlet-name>
    <url-pattern>/Servlet05</url-pattern>
  </servlet-mapping>
</web-app>